.gitignore
.vimrc
SConstruct

maxexport/maxexport.aps
maxexport/lib/sgexport.dle
pix/tests/data/DDSTex4.dds
pix/tests/data/DDSTex1.dds
pix/tests/data/BOXTEX2.TGA
pix/tests/data/TestCubeTexture1.dds
pix/tests/data/BOXTEX3.TGA
pix/tests/data/space.jpg
pix/tests/data/TestCubeTexture2.dds
pix/tests/data/BOXTEX.TGA
pix/tests/data/boxtex.bmp
pix/tests/data/DDSTex2.dds
pix/tests/data/BOXTEX.JPG
pix/tests/data/DDSTex3.dds
sgviewer/sgviewer.aps
sgviewer/arial.bmp
sgviewer/normalize.dds
sgviewer/res/sgviewerDoc.ico
sgviewer/res/sgviewer.ico
lang/tests/test
bsp/test/test.bsp
bsp/test/bsp_test.bmp
deadjustice/Script1.aps
deadjustice/icon1.ico
deadjustice/docs/NPC_states.sxd
deadjustice/docs/movement_animations.sxd
id/test/font_arial.tga
tools/imgpager/data/BOXTEX2.TGA
tools/imgpager/data/BOXTEX3.TGA
tools/imgpager/data/BOXTEX4.TGA
sg/envtest/vb.dat
sg/envtest/TestCubeTexture1.dds
sg/envtest/normal_map.tga
sg/envtest/diffuse_map.tga
sg/envtest/blueblob.JPG
sg/envtest/ib.dat
sg/test/tex.bmp
sg/test/blueblob.JPG
sg/mipmaptest/vb.dat
sg/mipmaptest/Envmap_888.dds
sg/mipmaptest/TestCubeTexture2.dds
sg/mipmaptest/Envmap.dds
sg/mipmaptest/envmap.jpg
sg/mipmaptest/ib.dat
ps/pstest/smallflare.jpg
ps/pstest/particles/images/fog_particle.tga
ps/pstest/particles/images/flare_goal_lite1.tga
ps/pstest/particles/images/trail1_fade.tga
ps/pstest/particles/images/puffs1.tga
ps/pstest/particles/images/flare_screen_rig.tga
ps/pstest/particles/images/trail_ball_fade.tga
ps/pstest/particles/images/test.jpg
ps/pstest/particles/images/test_single.jpg
ps/pstest/particles/images/signflare.tga
ps/pstest/particles/images/goal_block.tga
ps/pstest/particles/images/trail1.tga
ps/pstest/particles/images/smokepuff.tga
ps/pstest/particles/images/blood_splat.tga
ps/pstest/particles/images/flare_wallflare.tga
io/tests/data/dataout_java.dat
.sconsign.dblite
