[submodule "src/external/libjpeg"]
	path = src/external/libjpeg
	url = https://github.com/Andrewich/libjpeg.git
	branch = v6b
[submodule "src/external/lua"]
	path = src/external/lua
	url = https://github.com/Andrewich/lua.git
